body {
	background-color: black;
	font-family: 'Roboto Condensed', sans-serif;
	padding: 0;
	margin: 0;
}

.container {
	width: 100%;
	margin: auto;
	padding: 0; 
}


.title_block {
	background: url(../img/woman_and_man.png) no-repeat center center;
	background-size: 100%;
	background-position: 100% 0%;
	width: 100%;
	height: 850px;
	margin: 0;
}

.logo {
	padding-top: 25px;
}

.benefits {
	color: white;
	padding-top: 25px;
	font-size: 1.3rem;
}

.natural, .effective {
	display: inline;
	margin-left: 20px;
}

.percent100 {
	font-weight: 600;
	font-size: 1.9rem;
}

.main-question {
	color: #EEE192;
	font-size: 4rem;
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: 40px;
}

.product_features h5{
	font-size: 1.8rem;
	width: 370px;
}

.list_desc li {
  	list-style: none;
 	font-weight: 400;
	font-size: 1.1rem;
	color: #fff;
	position: relative;
	opacity: .8;
	margin-top: 10px;
}

.list_desc li:before {
  	content: "";
  	display: block;
  	width: 24px;
 	height: 24px;
  	background: url('../img/list_item.png') no-repeat center center;
  	position: absolute;
  	left: -35px;
}

.lineunder {
  	width: 60%;
  	height: 1px;
  	margin-top: 5px;
  	margin-left: -10px;
  	margin-bottom: 5px;
  	background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #0A0000 50%);
}

.discount_block {
  	text-align: center;
  	margin-top: 390px;
  	
}
.discount_block p {
  	font-size: 1.1rem;
  	color: white;
  	margin-top: 10px;
  	width: 310px;
}

.percent50 {
	max-width: 20vw;
	height: auto;
}

.order_block {
 	margin-top: 65px;
}

.quantity {
	font-family: 'PT Sans Narrow', sans-serif;
  	font-weight: 700;
 	margin-bottom: 10px;
  	display: inline-block;
  	width: 280px;
}

.number {
	float: left;
  	display: inline-flex;
  	margin-right: 14px;
}

.number_item {
  	font-size: 3.5rem;
  	border-radius: 5px;
  	color: #000;
  	background: #fff;
  	width: 47px;
  	height: 54px;
  	display: flex;
  	align-items: center;
  	-webkit-box-pack: center;
  	-ms-flex-pack: center;
  	justify-content: center;
  	margin-right: 4px;
  	position: relative;

}
.number_item span {
  	display: block;
  	width: 100%;
  	height: 1px;
  	background: #CECECE;
  	position: absolute;
  	left: 0;
  	right: 0;
  	top: 50%;
}
span.number_item:first-child {
  	opacity: .7;
}

.footnote p {
  	font-weight: 400;
  	font-size: 19px;
  	color: #fff;
  	line-height: 20px;
}	

.order_block_form {
  	position: relative;
  	min-width: 290px;
  	min-height: 410px;

}
.form-img {
  	position: absolute;
  	left: 0;
  	right: 0;
  	width: 300px;
  	height: 390px;
  	z-index: 0;
}

.full_price, .discount_price {
  	width: 50%;
  	float: left;
  	position: relative;
  	padding-top: 15px;
  	margin-bottom: 20px;
}

.price-title {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  display: block;
  color: #fff;
}

.full_price {
  	opacity: .3;
  	font-weight: 200;
  	padding-left: 20px;
}	

.price {
  	font-family: 'PT Sans Narrow', sans-serif;
  	font-weight: 700;
  	font-size: 48px;
  	color: #fff;
  	padding-left: 10px;
}

.rub {
  	font-size: 16px;
}

.order_block_form form {
  	padding-left: 17px;
  	padding-right: 17px;
  	position: relative;
}

.form_fields {
  	width: 250px;
  	height: 54px;
  	background: #F6F6F6;
  	border: 1px solid #E1E1E1;
  	border-radius: 5px;
  	padding-left: 15px;
  	margin-bottom: 15px;
}
.form_fields::-moz-placeholder {
  	font-family: 'Open Sans', sans-serif;
  	font-size: 14px;
  	color: #929292;
  	opacity: 1;
}
.form_fields::-webkit-input-placeholder {
  	font-family: 'Open Sans', sans-serif;
  	font-size: 14px;
  	color: #929292;
}

.btn_submit {
	width: 250px;
  	height: 54px;
  	border-radius: 5px 5px 5px 5px;
  	border: none;
  	background-color: #F2471A;
  	transition: .3s;
  	cursor: pointer;
}

.btn_submit__text {
	font-size: 1.2rem;
  	text-transform: uppercase;
  	color: white;position: absolute;
  	margin-top: -40px;
  	margin-left: -50px;
}

.btn_submit:hover {
	background-color: #B13412;
}

.red_area {
	background-color: #B13412;
	width: 50px;
	height: 54px;
	border-radius: 5px 0 0 5px;
	text-align: center;
	margin-left: -5px;
	margin-top: -1px;
	display: block;
}

.fa-chevron-right {
	margin-top: 35%;
}

.secure {
  	font-family: 'PT Sans Narrow', sans-serif;
  	font-weight: 400;
  	font-size: 0.9rem;
  	color: #000;
  	position: absolute;
  	margin-top: 25px;
  	margin-left: 40px;
}
.secure-img {
  	width: 13px;
  	height: 17px;
  	position: absolute;
  	left: -25px;
  	top: 2px;
}

.question_block {
	background: url(../img/flame.png) no-repeat center center;
	background-size: 100%;
	width: 100%;
	height: 480px;
	margin-top: auto;
}

.question_block__title {
	font-size: 4rem;
}

.question_block__subtitle {
	padding-left: 20px;
}

.qestion_block__form {
	margin-top: 40px;
	max-width: 642px;
	min-height: 260px;
	background-color: white;
	border-radius: 15px;
	position: relative;
	font-family: 'PT Sans', sans-serif;
}

.ellipse {
	border-radius: 50%;
	height: 60px;
	width: 60px;
	background-color: #E5E5E5;
	margin-top: 40px;
	text-align: center;
	padding: 10px;
	display: inline-block;
}

.qestion_block__form span{
	font-size: 1.5rem;
	margin-left: 10px;
}

.answers {
	margin-top: 25px; 
}

.button-answer {
	background: url(../img/button_bg.png) no-repeat center center;
	height: 82px;
	width: 252px;
	font-size: 2rem;
	padding: 15px;
	margin: 10px;
	transition: .4s;
	border-radius: 12px;
	cursor: pointer;
}

.button-answer:hover {
	background-blend-mode: multiply;	
	background-color: #FC481A;
}

.button-answer__text {

}

.description-block {
	min-height: 392px;
	width: 87%;
	border-radius: 15px;
	background: url(../img/girl.png) no-repeat right;
	background-size: 60%;

}

.description-block__title {
	font-size: 2.9rem;
	padding-top: 30px;
}

.description-block__text {
	font-size: 1.2rem;
	width: 55%;
	padding-bottom: 20px;
}

.description-block__text, .description-block__title {
	position: relative;
	padding-left: 40px; 
	font-family: 'PT Sans Narrow', sans-serif;
}

.advantage-block {
	background: url(../img/advantage_bg.png) no-repeat center bottom;
	background-size: 90%;
	min-height: 850px;
	padding-top: 60px;
}

.advantage-block__title {
	font-size: 3rem;
	padding-bottom: 40px;
}

.pantomax {
	height: 563px;
	width: 40%;
	float: left;
}

.advantage_items {
	width: 60%;
}

.advantage_item {
	margin-left: 20px;
	width: 200px;
	height: 251px;
	border-radius: 15px; 
	margin-top: 10px;
}

.opinion-block {
	min-height: 483px;
	width: 100%;
	background: url(../img/doctor.png) no-repeat right;
	background-size: 60%;
	border-radius: 15px;
	margin-top: -50px;
	margin-left:  8px;
}

.opinion-block__title {
	position: relative;
	font-size: 2.9rem;
	padding-top: 30px;
}

.opinion-block__text {
	font-size: 1.2rem;
	width: 55%;
	padding-bottom: 20px;
}

.opinion-block__title, .opinion-block__text {
	padding-left: 40px;
}

.aftertext {
	margin-top: 40px;
}

.sign {
	margin-top: -80px;
	left: 40%;
	position: absolute;
}

